.movieCard{
    width: 300px;
    margin: auto;
    background-color: rgb(6, 66, 59);
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 300px;
    box-shadow: 10px 10px 10px;
}
.flexbox{
    display: flex;
    flex-wrap:wrap;
}
.header{
    background-color: rgb(6, 66, 59);
    justify-content: center;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    color: white;
}