.modal{
    background-color: rgb(2, 2, 2);
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content{
    border: 5px solid rgb(6, 82, 6);
    border-radius: 20px;
    width: 500px;
    background-color: rgb(104, 182, 104);
}

#yes,#no {
    background-color: #001306; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
#no{
    float: right;
}
#yes{
    float: left;
}