.movieCard{
    width: 300px;
    margin: auto;
    /* display: flex; */
    background-color: rgb(144, 235, 132);
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 300px;
}
.flexbox{
    display: flex;
    flex-wrap:wrap;
}
.header{
    background-color: rgb(149, 149, 236);
    justify-content: center;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    color: rgb(192, 143, 98);
}