.img{
    height: 300px;
    width: 300px;
}
.main-div{
    display: flex;
    flex-wrap:wrap;
}
.content-div{
    justify-content: center;
    margin: auto;
    padding: 25px;
}
.img-div{
    justify-content: center;
    margin: auto;
    padding: 25px;
}
#comment{
    margin: auto;
    margin-left: 5%;
    width: 50%;
    background-color: rgb(198, 248, 242);
    
}
#add_comment{
    text-align: center;
    height: 30px;
    background-color: rgb(6, 66, 59);
    color: white;
    margin-top: 5px;
    margin: auto;
}
.btn-div{
    margin: auto;
    text-align: center;
    background-color: black;
}
#btn{
    text-align: center;
    margin: auto;
    position: relative;
    right: 44%;
    background-color: #001306;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.comment-section{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
}
.form-div{
    margin: auto;
    text-align: center;
    justify-content: center;
}